{% extends "base.html" %} {% block content %}
<style>

.containerss{
    margin-left: 430px;
    width: 100%;
    margin-top: -50px   ;
}  
</style>
<div class="containerss">
<div class="col-md-6 offset-md-3">
    <h1 class="text-center">Login</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Registeration Id" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder=" Enter Password" name="password">
        </div>
        <button style="margin:5px;" type="submit" class="btn btn-primary">Login</button><br>
    </form>


</div>
</div>
{% endblock %}