{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}
{% block description %} {% trans "User Progress Page" %} {% endblock %}

{% block content %}

<style>
    .styled-table {
    border-collapse: collapse;
    position: relative;
      top: -390px;
      left: 250px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
tr:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  color: #009879 ;
}
.headingg{
    margin-top: -120px;
    height: 100px;
    width: 1518px;
    margin-left: -15px;
    background-color: 		#232b2b;
    color: white;

  }
  .Fonti{
    margin:auto;
    display: block;
    width: 28%;
font-size: 52px;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
text-shadow: 1px 1px 0px #DC143C,
2px 2px 0px #DC143C,
3px 3px 0px #DC143C,
4px 4px 0px #DC143C;
position: relative;
left: 40px;
top: 10px;

  }
</style>
  {% if exams %}
  <div class="headingg"> <span class="Fonti">{% trans "Score Board" %}</span></div>
  <table class=" alignn table styled-table table-bordered table-striped">
	<thead>
	  <tr >
		<th>{% trans "Quiz Title" %}</th>
		<th>{% trans "Your Score" %}</th>
		<th>{% trans "Total Score" %}</th>
		<th>Percentage%</th>
	
		 <th>Pass/Fail</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		
		<td>{{ exam.quiz.title }}</td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}</td>
		<td> {{ exam.result_message }} </td>
		{% endfor %}
	</tbody>

  </table>

  {% endif %}


{% endblock %}
